<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name = "viewpoint" content="width=device-width, initial-scale=1">

    <title> MLS Listings </title>
    <style>
      pre {
          text-align:center;
          font-family: Time New Roman;
          font-size: large;
          color: green;
          font-weight:bold
          margin: 25px;
      }
    </style>
  <!--    links-->
  <!--    links-->
  <!--    links-->
  </head>
  <pre>
      <h1>
        Real Estate Investments
        Properties in Columbus, Ohio
    </h1>
  </pre>
  <body>
      <h1 style="Color:red; font-size:24px">Property Details</h1>
        <div style="color:black; font-size:18px">
          Type of Property
          Address
          Bedroom
          Bathroom
          Sqft
          Asking Price
        </div>
      <h2 style="color:red; font-size:24px">Initial Investment</h2>
        <div>
          Downpayment
          Closing Cost
          Total Initial Investment
        </div>
      <h3 style="color:red; font-size:24px">Mortgage</h3>
        <div>
          Monthly Mortgage paytment
          Property tax
          Home Owner Insurance
        </div>
      <h4 style="color:red; font-size:24px">Monthly Profit/Losst</h4>
        <div>
          Rental Income
          Profit = Rental Income - Mortgage payment
          Annual Return Rate = profit / initial investment
    </div>


  </body>
</html>



