<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name = "viewpoint" content="width=device-width, initial-scale=1">

    <title> MLS Listings </title>
    <style>
      pre {
          text-align:center;
          font-family: Time New Roman;
          font-size: large;
          color: green;
          font-weight:bold
          margin: 25px;
      }
    </style>
  <!--    links-->
  <!--    links-->
  <!--    links-->
  </head>
  <pre>
      <h1>
        Real Estate Investments
        Properties in Columbus, Ohio
    </h1>
  </pre>
  <body>


    <script src="myapp/config/locales/routes.rb"></script>
  </body>
</html>



